body{
    background: url('../images/rock-paper-scissor.jpeg') no-repeat center center fixed;
    background-size: cover;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 700px;
}
footer
{
    text-align: center;
}
label{
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
    
}
#button1
{
    background-color: black;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
