body{
    background: url('../images/rock-paper-scissor.jpeg') no-repeat center center fixed;
    background-size: cover;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 700px;
}
footer
{
    text-align: center;
}
.labels{
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
    
}
#button1
{
    background-color: black;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
#button2
{
    background-color: black;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic
}
#chatLabel1
{
    border:1px solid black;
    background-color: black;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic
    
}
